---
layout: default
title: Home
---

<div>
    <h1>About me</h1>
    <p>Hello! My name is Caroline Zeng, and I'm a software engineer. I like theoretical computer science, from
        theory of computation, to cryptography, to programming languages. I've worked as a software engineer at Intuit
        and Pratt & Whitney, and I will be starting at Amazon soon. <br>
        I've worked mostly in Java and Python, and have worked a little bit with Docker and AWS.
    </p>
    <h1>Education</h1>
    <a class="collapsible"><i class="bi bi-caret-right" role="img" aria-label="Cornell expandable"></i></a>
    <em>Cornell University</em>, Bachelor of Computer Science
    <div class="content">
        I studied computer science, mainly higher level coursework like machine learning, cryptography, and
        programming languages. <br>
        Graduating May 2022
    </div>
    <a class="collapsible"><i class="bi bi-caret-right" role="img" aria-label="Northeastern expandable"></i></a>
    <em>Northeastern University</em>, Bachelor of Computer Science and Mathematics
    <div class="content">
        I studied computer science and mathematics as a combined major. I gained a strong math background here as a
        math major, as well as experience in explaining things to other people through work as a teaching assistant.
        <br>
        I spent my first 2 years of college here before transferring to Cornell. <br>
        Attended: 2018-2020
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
    <!-- <ul>
        <li><br>
            I studied computer science, mainly higher level coursework like machine learning, cryptography, and
            programming languages. <br>
            Graduating May 2022
        </li>
        <li><em>Northeastern University</em>, Bachelor of Computer Science and Mathematics<br>
            I studied computer science and mathematics as a combined major. I gained a strong math background here as a
            math major, as well as experience in explaining things to other people through work as a teaching assistant.
            <br>
            I spent my first 2 years of college here before transferring to Cornell. <br>
            Attended: 2018-2020
        </li>
    </ul> -->
</div>

<!-- <div class="posts">
    {% for post in paginator.posts %}
    <div class="post">
        <h1 class="post-title">
            <a href="{{ post.url | absolute_url }}">
                {{ post.title }}
            </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>

        {{ post.content }}
    </div>
    {% endfor %}
</div> -->

<!-- <div class="pagination">
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
    {% else %}
    <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
    {% else %}
    <span class="pagination-item newer">Newer</span>
    {% endif %}
</div> -->